name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  test_latest:
    name: Go 1.24

    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build
        run: go build -v .

      - name: Test
        run: go test ./... -v -race -coverprofile=coverage.txt -covermode=atomic

      - name: Coverage Summary
        run: go tool cover -func=coverage.txt

      - name: Upload coverage reports
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.txt
          retention-days: 7
